@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html,.root,body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.bodycontainer-container{
    overflow-y: scroll;
    overflow-x: hidden;
}
.root{
    overflow: hidden;
}