@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap');


* {
    margin: 0;
}

#root, html {
    font-family: 'Open Sans', sans-serif;
    background: #00e5ff;
    color: #fff;
}

input {
    background: #ffff !important;
    border-radius: 5px !important;
    padding: 0px 10px !important;
}